/**/application-local.yml
logs
project/project
project/target 
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
.sc

# Eclipse
.cache
.classpath
.project
.settings
.target/
.worksheet
project/bin/
bin

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Tomcat
/.tomcatplugin

# Jetty
work/

# PMD
/.pmd
/.#webclasspath