/* Globals */
img {
  max-width: 100%;
}

.navbar-dark {
  /* Navbar links color, see https://getbootstrap.com/docs/5.3/components/navbar/ */
  --bs-navbar-color: white;
  --bs-navbar-hover-color: white;
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: white;
}

/* My layout customizations... */
.bg-dark {
  background-color: #99ceff!important;
}

.container {
  max-width: 1640px;
}

.form-config-reload {
    margin-right: 4px;
}

.form-article-edit {
    margin: 0.5rem;
}

.form-article-edit .article-basic-attributes {
    padding-bottom: 0.5rem;
}

.form-localisations-reload {
    margin-right: 4px;
}

.login-form {
  margin: auto;
  margin-top: 4rem;
  width: 380px;
}

.password-setup-form {
  margin: auto;
  margin-top: 4rem;
  width: 580px;
}

.password-recovery-form {
  margin: auto;
  margin-top: 4rem;
  width: 380px;
}

.footer {
  background-color: #f5f5f5;
}

#markdown-content {
  width: 100%;
}
