/* Globals */
.row {
  /* Fixed -15px margins that injures mobile design */
  margin-right: 0rem;
  margin-left: 0rem;
}

.page-content {
  margin-top: 2rem;
}

/* More decent (smaller) text in footer */
.footer {
  font-size: 0.95rem;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Layout customization */
.bg-dark {
    background-color: #f5f5f5!important;
}

.btn-search-blue {
    background-color:#2b5989!important;
}

/* Bolder first navbar item */
a.navbar-brand {
    font-weight: 600;
}

/* More space and light lines between navbar items */
.nav-item {
    border-left: 1px dotted #68adf7;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Custom styles */
.item-title a, .item-title a:active, .item-title a:hover, .item-title a:visited {
    color: #d2691e; /* Orange-chocolate-like */
}

a.navbar-brand, a:active.navbar-brand, a:visited.navbar-brand {
    color: #2b5989;
}

.btn {
    color: white;
    background-color: #d2691e !important; /* Orange-chocolate-like */
}

/* For main search button and similar buttons */ 
.btn-outline-success {
    background-color: #2b5989 !important;
}

.headline-mobile {
    background-image: url('/media/headline-mobile.webp');
}

.headline-desktop {
    background-image: url('/media/headline.webp')
}

#headline {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: auto; */
    /* background-attachment: fixed: Stays in fixed position when scrolling (quite nice effect). */
    height: 880px;
    width: 100%;
    border-bottom: 0px solid;
    border-top: 0px solid;
}

#headline-offer {
    background-color: rgba(0, 0, 0, 0.23);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0rem 0rem 0rem;
    min-width: 360px; /* min-width so the column does not become too narrow on tablets  */
}

#headline-offer1 {
    margin-top:1.3rem;
    text-align:center;
}

.headline-offer1-button {
    font-weight:500;
    font-size:18px;
    padding:0.7rem 1.2rem 0.7rem 1.2rem;
}

.headline-offer-header {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.headline-offer-img-holder {
    margin-bottom:0.5rem;
}

.headline-offer-img-holder img {
    min-width:275px;
}

#headline-portrait {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#headline-portrait-holder {
    display: inline-block;
    margin-top: 30%;
    border: solid 3px #0f283d;
    background-color: #192d3d;
    border-radius: 0.8rem;
}

#headline-portrait-holder img {
    min-width: 235px;
}

.modal-dialog .no-title {
    /* Smaller header for only close button */
    --bs-modal-header-padding: 0.4rem 0.4rem;
}

.category-header {
    text-align: center;
    background-color: #d2691e; /* Orange-chocolate-like */
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.category-header h1 {
  color: white;
  font-size: 1.8rem;
}

.cookie-disclaimer {
  background: #000000;
  color: #FFF;
  opacity: 0.8;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 74px;
  position: fixed;
}
.cookie-disclaimer .container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cookie-disclaimer .cookie-close {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.author {
    border-top: 1px solid lightgrey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.metadata {
    font-size: 90%;
    color: #bbb;
    border-bottom: 1px solid lightgrey;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.metadata a {
    color: #ccc;
}

.avatar {
    margin-right: 1rem;
}

.comments {
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.comments .comment {
    border-bottom: 1px solid lightgrey;
    padding: 0.5rem 0 0 0;
    margin: 1rem 0 0 0;
}

.comments .comment .comment-author {
    float: left;
    font-size: smaller;
}

.comments .comment .comment-meta {
    float: right;
    font-size: smaller;
}

.comments .comment .comment-body {
    clear: both;
}

.comment-info {
    font-size: 0.95rem;
}

body {
  /* Navbar fixed to the top */
  min-height: 75rem;
  
  font-size: 1rem;
  line-height: 1.5rem;
}

.navbar-light {
  /* Navbar links color, see https://getbootstrap.com/docs/5.3/components/navbar/ */
  --bs-navbar-color: #2b5989;
  --bs-navbar-hover-color: #2b5989;
  --bs-navbar-disabled-color: #2b5989;
  --bs-navbar-active-color: #2b5989;
  --bs-navbar-brand-color: #2b5989;
  --bs-navbar-brand-hover-color: #2b5989;
}
 
/* Little bigger text for articles and blog items */
.blog-main {
  font-size: 1.05rem;
  line-height: 1.6rem;
}

.item-date {
  font-size: 0.8rem;
  margin: 0.2rem;
}

.blog-item {
  width: 100%;
  margin-bottom: 1.5rem;
  float: left;
}

.blog-item-image {
  float: left;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

.blog-item-text {
  min-width: 4rem;
}

.share-buttons {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.article-date {
    margin-left:0.5rem;
    white-space:nowrap;
}

.article-image-detail {
  margin-top: 1.5rem;
  text-align: center;
}

.fb-page {
  width: 292px;
  height: 500px;
}

.ml-form-embedContent {
  font-size: 0.9rem;
  line-height: 20px;
  text-align: left;
}

.ml-form-embedPermissions {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.sidebar-offer-form-holder {
    max-width:360px;
}
